* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(to left, #090979,#00d4ff);
  transition: 0.5s;
}

.menu a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
  transition: 0.8s;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.carrosel-container {
  display: grid;
  place-items: center;
}

.items-wrapper {
  width: 100vw;
}

.items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.item {
  flex: none;
  width: 100%;
  height: 400px;
  object-fit: cover;

  scroll-snap-align: start;
  pointer-events: none;
}

img {
  width: 100%;
  height: 100%;
}

