* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(to left, #090979,#00d4ff);
}

